<div class="col-sm-4 col-sm-offset-4">
  <legend>Enter Your Landlord</legend>
  <%= form_for @user do |f| %>
    <%= f.label :first_name %>:
     <%= f.text_field :first_name, class:"form-control" %><br />
     <%= f.label :last_name %>:
     <%= f.text_field :last_name, class:"form-control" %><br />
     <!-- or not -->
     <%= f.label :city %>:
     <%= f.text_field :city, class:"form-control" %><br />
     <%= f.submit "Save Landlord", class:"btn btn-primary" %>
  <% end %>
</div>
